server:
  port: 8083

spring:
  r2dbc:
    url: r2dbc:mariadb://localhost:23306/test
    username: admin
    password: 1234
  main:
    web-application-type: reactive
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: my-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

jwt:
  secret: a0123456789b0123456789c0123456789d
  refresh-token-validity-seconds: 1209600  # 14Ïùº
  access-token-validity-seconds: 3600
